NODE_ENV=development

HOST=localhost
PORT=3000

CLIENT_URL=http://localhost:4200

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=platform
POSTGRES_USER=postgres
POSTGRES_PASSWORD=newpass
POSTGRES_SYNCHRONIZE=false

REDIS_HOST=localhost
REDIS_PORT=6379

STEAM_API_KEY=

AUTH_TOKEN_SECRET=sponge-bob
AUTH_TOKEN_EXPIRATION=604800